body{
    margin: 5px;

}

html, body{
    height:100%;
}


#main{
 overflow: auto;
 padding-bottom: 100px;
 
}

.container{
    display: grid;
    
}

nav{
    display: block;
}

 h3{
     text-align: center;
 }

.heading1{

     position: absolute;
     top: 25%;
     color: rgb(240, 97, 97);
     padding: 20px;
     text-transform: uppercase;
     bottom: 25%;
     left: 25%;
     right: 25%;
    text-align: center;
    font-size: 75px;
   
}

  .listlinks{
      list-style-type: none;
      text-align: right;
      font-family: 'Times New Roman', Times, serif;
      padding: 0;
  }
  .listlinks li{
      
          display: inline;
          margin: 40px;
          
      }
  a{
   text-decoration: none;
  }

  #footer{
   background-color: rgb(180, 12, 40);
   position: sticky;
   height: 100px;
   margin-top: auto;
   clear: both;
  }


  h1 {
      text-align: center;

      font: italic;
      font-size: 60px;
      font-family: 'Times New Roman';
  }




  h2,
  h3 {
      font-family: 'Times New Roman';
      font-style: italic;
      padding: 4px;

  }

  a {
      text-decoration: none;
  }

  .more{
      display: none;
  }


  footer{
      background-color: rgb(233, 49, 79);
      height: 100px;
  }